// Theme Colors
$primary-color: #0d1421 !default;
$secondary-color: #f1582d !default;
$tertiary-color: #26334a !default;

// General Colors
$white: #ffffff;
$black: #000000;
$gallery: #eeeeee;
$porcelain: #f1f2f3;
$dark-gray: #494949;
$dusty-gray: #999999;

// Social
$facebook-icon-color: #2a61d6;
$twitter-icon-color: #3aa4f8;
$github-icon-color: #292929;

// Notification Colours
$success-color: #87cb16 !default;
$warning-color: #ffa534 !default;
$info-color: #23ccef !default;
$danger-color: darken(#fb404b, 8%) !default;
