.main-content {
  background-color: $white;
}

.text-center {
  text-align: center;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

::-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

:-moz-placeholder {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.full-height {
  height: 100%;
}

.position-static {
  position: static;
}

.font-white {
  color: $white;
}
