.sidebar {
  background-color: $tertiary-color !important;
  .brand {
    height: $header-height;
    padding: 10px 15px;
    border-bottom: $header-border-bottom;
    background-color: $white;
  }
  .navbar {
    .nav-link {
      a {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid darken($tertiary-color, 5);
        padding: 15px 20px;
        color: white;
        background-color: $tertiary-color;
        font-size: 14px;
        text-align: left;
        min-height: 50px;
        text-shadow: none !important;
        i {
          margin-right: 5px;
          width: 20px;
        }
        &:hover {
          background-color: lighten($tertiary-color, 5);
          border-right: 5px solid lighten($tertiary-color, 25) !important;
        }
        &:focus {
          box-shadow: unset !important;
        }
      }
      width: 100%;
    }
  }
}

/** JQuery Mobile Framework Overrides **/
.sidebar {
  &.ui-panel-display-reveal {
    box-shadow: none !important;
    border-right: $sidebar-border-right !important;
  }
  .ui-panel-inner {
    padding: 0 !important;
  }
  .ui-navbar li:last-child .ui-btn {
    margin-right: unset !important;
  }
}
